body {
	background-color: black;
	font-size: 12px;
	color: white;
}

.container {
	float: left;
}

#overview {
	/*background-color: grey; */
	width: 30%;
	min-width: 220px;
}

#options {
	/*background-color: purple; */
	width: 40%;
	min-width: 366px;
}

#status {
	width: 30%;
	position: relative;
}
#resources {
	min-height: 100px;
	border: 1px solid orange;
}

#selected_object {
	min-height: 200px;
	border: 1px solid yellow;
}

#violations {
	min-height: 100px;
	border: 1px solid purple;
}

#dump_system {

	min-height: 100px;
	border: 1px solid white;
}

.control {
	float: left;
	width: 100px;
	height: 70px;
	border: 1px solid black;
}

.orbit_control {
	float: left;
}

.feature {
	position: relative;
	float: left;
	width: 120px;
	height: 140px;
	border: 1px solid grey;
}
.feature_name {
	font-size: 11px;
	height: 20px;
	margin: 5px;
}

.feature_image {
	margin: 5px;
}

.feature_group_name {
		font-size: 14px;
		clear: both;
}

.remove_feature {
	position: absolute;
	color: red;
	top: 10px;
	right: 10px;
}