body {
	font-size: 12px;
}

.container {
	width: 100%;
	float: left;
}


#overview {
	margin: 5px;
	background-color: grey;
	
}

#resources {
	margin: 5px;
	background-color: yellow;
	
}

#options {
	margin: 5px;
	background-color: purple;
}


.orbit {
	float: left;
	width: 100px;
	height: 200px;
	border: 1px solid black;
}

.orbital {
	float: left;
	width: 50px;
	height: 50px;
}

.star_orbit {
	background-color: black;
	color: white;
}

.hot_orbit {
	background-color: red;
}

.goldilocks_orbit {
	background-color: green;
}

.cold_orbit {
	background-color: blue;
}

.no_orbit {
	border: none;	
}

.control {
	float: left;
	width: 100px;
	height: 70px;
	border: 1px solid black;
}

.orbit_control {
	float: left;
}

.feature {
	position: relative;
	float: left;
	width: 120px;
	height: 140px;
	border: 1px solid black;
}
.feature_name {
	font-size: 11px;
	height: 20px;
	margin: 5px;
}

.feature_image {
	margin: 5px;
}

.remove_feature {
	position: absolute;
	color: red;
	top: 10px;
	right: 10px;
}

.selected {
	border: 2px solid white;
}