body {
	background-color: black;
	font-size: 12px;
	color: white;
}

.container {
	float: left;
}

#overview {
	/*background-color: grey; */
	width: 30%;
	min-width: 220px;
}

#options {
	background-color: purple; 
	width: 40%;
	min-width: 366px;
}

#status {
	width: 30%;
}
#resources {
	min-height: 100px;
	background-color: orange;
}

#selected_object {
	background-color: yellow;
}


.orbit {
	float: top;
	height: 150px;
	width: 400px;
	border: 1px solid grey;
}

.orbital {
	float: left;
	width: 64px;
	height: 64px;
}

.star_orbit {
	background-color: black;
	color: white;
}

.hot_orbit {
	border: 2px solid red;
}

.goldilocks_orbit {
	border: 2px solid green;
}

.cold_orbit {
	border: 2px solid blue;
}

.no_orbit {
	border: none;	
}

.control {
	float: left;
	width: 100px;
	height: 70px;
	border: 1px solid black;
}

.orbit_control {
	float: left;
}

.feature {
	position: relative;
	float: left;
	width: 120px;
	height: 140px;
	border: 1px solid black;
}
.feature_name {
	font-size: 11px;
	height: 20px;
	margin: 5px;
}

.feature_image {
	margin: 5px;
}

.remove_feature {
	position: absolute;
	color: red;
	top: 10px;
	right: 10px;
}

.selected {
	border: 2px solid white;
}