.system {
	float: top;
	height: 100px;
	width: 400px;
	border: 1px solid grey;
}

.orbit {
	float: top;
	height: 150px;
	width: 400px;
	border: 1px solid grey;
}

.orbital {
	float: left;
	width: 64px;
	height: 64px;
}

.star_orbit {
	background-color: black;
	color: white;
}

.hot_orbit.active_sun {
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(255, 100, 0) transparent;
	/* RGBa with 0.6 opacity */
	background: rgba(255, 100, 0, 0.3);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FF0000, endColorstr=#66FF0000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FF0000, endColorstr=#66FF0000)";
}

.extra_hot_orbit.active_sun {
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(180, 0, 0) transparent;
	/* RGBa with 0.6 opacity */
	background: rgba(180, 0, 0, 0.3);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FF0000, endColorstr=#66FF0000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FF0000, endColorstr=#66FF0000)";
}

.goldilocks_orbit.active_sun {
	/* border: 2px solid green; */
	
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 255, 100) transparent;
	/* RGBa with 0.6 opacity */
	background: rgba(0, 255, 100, 0.3);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#6600FF00, endColorstr=#6600FF00);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#660FF000, endColorstr=#6600FF00)";
}


.hot_orbit {
	/* border: 2px solid red; */
	
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(255, 0, 0) transparent;
	/* RGBa with 0.6 opacity */
	background: rgba(255, 0, 0, 0.3);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FF0000, endColorstr=#66FF0000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FF0000, endColorstr=#66FF0000)";
}

.goldilocks_orbit {
	/* border: 2px solid green; */
	
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 255, 0) transparent;
	/* RGBa with 0.6 opacity */
	background: rgba(0, 255, 0, 0.3);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#6600FF00, endColorstr=#6600FF00);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#660FF000, endColorstr=#6600FF00)";
}

.cold_orbit {
	border: 2px solid blue;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 255) transparent;
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 255, 0.3);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#660000FF, endColorstr=#660000FF);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#660000FF, endColorstr=#660000FF0)";
}

.no_orbit {
	border: none;	
}

.large_planet_orbit {
	height: 250px;
}
	
.empty_orbit {
	height: 50px;
}

.selected {
	border: 1px solid white;
}